.account {
    @include contentBox;

    &__title {
        text-align: center;
        font-size: $font-large;
        margin-bottom: 3rem;
    }

    &__list {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 4rem;
        list-style: none;
        padding: 4rem;
    }

    &__item {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;

        &--entry {
            justify-self: start;
            font-size: $font-medium;
        }
        &--status {
            font-size: $font-small;
            display: flex;
            width: 100%;
            input {
                font-size: $font-small;
                border: none;
                outline: none;
                width: 60%;
            }
            input:focus ~ .account__btn {
                display: block;
            }
        }
        &--link {
            font-size: $font-small;
            color: $color-blue;
            label {
                cursor: pointer;
            }
        }
    }
    &__btn {
        display: none;
        background-color: transparent;
        color: $color-blue;
        font-size: $font-small;
        border: none;
        cursor: pointer;
    }
}
