.comments {
    grid-column: 2 / -1;
    background-color: $color-white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12),
        0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    padding: 4rem;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
        h1 {
            display: inline-block;
        }
    }

    &__list {
        margin-top: 2rem;
    }
}

.comment {
    &__input {
        display: block;
        resize: none;
        margin-bottom: 1rem;
        width: 70%;
        min-height: 10rem;
        &:focus {
            outline: none;
        }
    }

    &__submit {
        padding: 0 1rem;
        color: $color-text;
        font-size: $font-small;
        background-color: $color-white;
        border: 2px solid $color-text;
        border-radius: 2px;
        /* transition css */
        transition-property: background-color;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        &:hover {
            color: $color-white;
            background-color: $color-black;
            border-color: $color-black;
        }
        &:focus {
            outline: none;
        }
    }

    &__user {
        font-size: $font-small;
        color: $color-black;
        font-weight: bold;
        &::after {
            margin: 0 1rem;
            content: ' ';
        }
    }

    &__content {
        font-size: $font-medium;
        margin-bottom: 2rem;
        border-bottom: 1px dashed $color-grey-light;
    }
}

.user {
    &__menu {
        display: inline-block;
        font-size: $font-medium;
    }
    &__icon {
        height: 2rem;
        width: 2rem;
        vertical-align: middle;
        fill: $color-text;
    }
}
