.docs {
    @include contentBox;

    h2 {
        margin-left: 2rem;
        font-size: $font-large;
    }

    &__list {
        list-style: none;
        padding: 0;
        margin-left: 2rem;
    }

    &__item {
        margin: 2rem 0;
        line-height: 30px;
        border-bottom: 1px dashed $color-grey-light;
        display: flex;
        justify-content: space-between;
        &:hover {
            border-bottom: 1px dashed $color-black;
        }
        a {
            color: $color-black;
            font-size: $font-medium;
            text-decoration: none;
        }
        span {
            color: $color-black;
            font-size: $font-small;
        }
        time {
            font-size: $font-small;
        }
    }
}
