.flyout {
    &__toggle {
        cursor: pointer;
        &:hover {
            color: $color-black;
            svg {
                fill: $color-black;
            }
        }
        &::after {
            content: '';
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 8px solid $color-grey;
            position: absolute;
            top: 1rem;
        }
    }
    &__container {
        display: none;
        position: absolute;
        top: 120%;
        right: 0;
        @include blockShadow;
    }

    &__open {
        display: inline-block;
    }

    &__open ~ &__toggle::after {
        border-top-color: $color-black;
    }
}
