.menu {
    margin-top: 1rem;
    background-color: $color-white;
    @include blockShadow;

    &__float {
        position: fixed;
        top: 0;
        width: 240px;
        margin-right: 1rem;
    }

    &__title {
        color: $color-white;
        background-color: $color-black;
        text-align: center;
        padding: 2rem 0;
        &--main {
            font-size: $font-medium;
        }

        &--sub {
            color: $color-grey;
            margin: 1rem 0;
            font-size: $font-small;
        }
    }

    &__nav {
        padding: 1.5rem 0;
    }
    &__item {
        list-style: none;
        padding: 1rem 2rem;
        a {
            text-decoration: none;
            color: $color-text;
            font-size: $font-small;
        }
    }
    &__icon {
        display: inline-block;
        vertical-align: middle;
        height: $font-medium;
        width: $font-medium;
        margin-right: 0.8rem;
    }
}
