<div class="comments">
    <div class="comments__header">
        <h1>
            留言 (18条)
        </h1>
        <span class="user__menu">
            <%if(!user){ %>
            <label class="modal__toggle" for="modal-checkbox">
                <svg class="user__icon">
                    <use xlink:href="/images/sprite.svg#icon-enter"></use>
                </svg>
                登陆 | 注册
            </label>
            <% } else{ %>
            <div class="flyout__container" id="flyout-body">
                <ul class="user__dropdown">
                    <li class="user__dropdown-item">
                        <a href="/account">
                            Account
                        </a>
                    </li>
                    <li class="user__dropdown-item">
                        <a id="logout-user">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
            <label
                id="flyout-toggle"
                class="flyout__toggle"
                for="flyout-checkbox"
            >
                <svg class="user__icon">
                    <use xlink:href="/images/sprite.svg#icon-user"></use>
                </svg>
                <a class="user__name"><%= user.name%></a>
            </label>
            <% } %>
        </span>
    </div>
    <textarea
        class="comment__input"
        name="comment"
        maxlength="1000"
        placeholder="加入讨论..."
    ></textarea>
    <button class="comment__submit">发表</button>
    <div class="comments__list">
        <div class="comments__item">
            <span class="comment__user">Yang Jiang</span>
            <time class="comment__time">2020-06-17</time>
            <div class="comment__content">this is a good post</div>
        </div>
        <div class="comments__item">
            <span class="comment__user">Dan Gao</span>
            <time class="comment__time">2020-06-17</time>
            <div class="comment__content">this is a good post</div>
        </div>
    </div>
</div>
