<div class="menu">
    <div class="menu__title">
        <div class="menu__title--main">
            Yang Jiang
        </div>
        <div class="menu__title--sub">
            blog and notebook
        </div>
    </div>
    <ul class="menu__nav">
        <li class="menu__item">
            <a href="/">
                <svg class="menu__icon">
                    <use xlink:href="/images/sprite.svg#icon-home2"></use>
                </svg>
                Home
            </a>
        </li>
        <li class="menu__item">
            <a href="/posts">
                <svg class="menu__icon">
                    <use xlink:href="/images/sprite.svg#icon-books"></use>
                </svg>
                Docs
            </a>
        </li>
        <li class="menu__item">
            <a href="/tags">
                <svg class="menu__icon">
                    <use xlink:href="/images/sprite.svg#icon-bookmarks"></use>
                </svg>
                Tags
            </a>
        </li>
        <li class="menu__item">
            <a href="/search">
                <svg class="menu__icon">
                    <use xlink:href="/images/sprite.svg#icon-search"></use>
                </svg>
                Search
            </a>
        </li>
    </ul>
</div>
