<input type="checkbox" class="modal__checkbox" id="modal-password-checkbox" />
<div class="modal__background">
    <div class="small-modal__content">
        <label class="small-modal__close" for="modal-password-checkbox">
            <span>X</span>
        </label>
        <form id="password-edit-form">
            <div class="form__group">
                <input
                    id="account-current-password"
                    class="form__input"
                    type="password"
                    placeholder="旧密码(初次设置可留空)"
                    autocomplete="current-password"
                />
                <span class="form__status"></span>
            </div>

            <div class="form__group">
                <input
                    id="account-new-password"
                    class="form__input"
                    type="password"
                    placeholder="请输入新密码"
                    required
                    minlength="8"
                    maxlength="20"
                    autocomplete="new-password"
                />
                <span class="form__status">
                    <svg class="form__icon">
                        <use xlink:href="/images/sprite.svg#icon-warning"></use>
                    </svg>
                    <span>
                        请设置有效密码，8-20位之间。
                    </span>
                </span>
            </div>

            <div class="form__group">
                <input
                    id="account-confirm-password"
                    class="form__input"
                    type="password"
                    placeholder="再次输入新密码"
                    required
                    minlength="8"
                    maxlength="20"
                    autocomplete="new-password"
                />
                <span class="form__status" id="modify-status-passwordconfirm">
                    <svg class="form__icon">
                        <use xlink:href="/images/sprite.svg#icon-warning"></use>
                    </svg>
                    <span>
                        密码不匹配
                    </span>
                </span>
            </div>

            <button id="edit-password-submit" class="form__submit">提交</button>
        </form>
    </div>
</div>
