<input type="checkbox" class="modal__checkbox" id="modal-password-checkbox" />
<div class="modal__background">
    <div class="small-modal__content">
        <label class="small-modal__close" for="modal-password-checkbox">
            <span>X</span>
        </label>
        <form id="password-edit-form">
            <div class="form__group">
                <input
                    id="account-current-password"
                    class="form__input"
                    type="password"
                    placeholder="请输入旧密码(初次设置可留空)"
                    autocomplete="current-password"
                />
                <span class="form__status"></span>
            </div>

            <div class="form__group">
                <input
                    id="account-new-password"
                    class="form__input"
                    type="password"
                    placeholder="请输入新密码"
                    required
                    minlength="8"
                    autocomplete="new-password"
                />
                <span class="form__status"></span>
            </div>

            <div class="form__group">
                <input
                    id="account-confirm-password"
                    class="form__input"
                    type="password"
                    placeholder="再次输入新密码"
                    required
                    minlength="8"
                    autocomplete="new-password"
                />
                <span class="form__status"></span>
            </div>

            <button id="edit-password-submit" class="form__submit">提交</button>
        </form>
    </div>
</div>
