<div class="overview">
    <img src="images/logo.png" alt="Yang Blog Logo" class="overview__logo" />
    <div class="overview__name">蒋阳的博客</div>
    <div class="overview__motto">
        战胜攻取 而不修其功者凶 命曰费留
    </div>
    <div class="overview__states">
        <div class="overview__states--number">
            10
        </div>
        <div class="overview__states--field">
            posts
        </div>
    </div>
    <div class="overview__links">
        <svg class="overview__icon">
            <use xlink:href="images/sprite.svg#icon-github"></use>
        </svg>
        <svg class="overview__icon">
            <use xlink:href="images/sprite.svg#icon-bubbles"></use>
        </svg>
        <svg class="overview__icon">
            <use xlink:href="images/sprite.svg#icon-linkedin"></use>
        </svg>
        <svg class="overview__icon">
            <use xlink:href="images/sprite.svg#icon-rss2"></use>
        </svg>
    </div>
</div>
