<form id="register-form" class="form__register">
    <div class="form__group">
        <input
            id="register-email"
            class="form__input"
            type="email"
            placeholder="请输入邮箱"
            required
            autocomplete="username"
        />
        <div class="form__status" id="register-status-email">
            <svg class="form__icon">
                <use xlink:href="/images/sprite.svg#icon-warning"></use>
            </svg>
            <span>
                请输入有效邮箱
            </span>
        </div>
    </div>
    <div class="form__group">
        <input
            id="register-name"
            class="form__input"
            type="text"
            placeholder="请输入用户名"
            maxlength="20"
            required
            autocomplete="username"
        />
        <span class="form__status"></span>
    </div>
    <div class="form__group">
        <input
            id="register-password"
            class="form__input"
            type="password"
            placeholder="请输入密码"
            required
            minlength="8"
            maxlength="20"
            autocomplete="new-password"
        />
        <span class="form__status" id="register-status-password">
            <svg class="form__icon">
                <use xlink:href="/images/sprite.svg#icon-warning"></use>
            </svg>
            <span>
                请设置有效密码，8-20位之间。
            </span>
        </span>
    </div>
    <div class="form__group">
        <input
            id="register-passwordConfirm"
            class="form__input"
            type="password"
            placeholder="请再次输入密码"
            required
            minlength="8"
            maxlength="20"
            autocomplete="new-password"
        />
        <span class="form__status" id="register-status-passwordconfirm">
            <svg class="form__icon">
                <use xlink:href="/images/sprite.svg#icon-warning"></use>
            </svg>
            <span>
                密码不匹配
            </span>
        </span>
    </div>
    <button id="register-submit" class="form__submit">注册</button>
    <span class="form__third-party">
        <span>第三方登陆：</span>
        <a
            class="form__third-party--github"
            href="https://github.com/login/oauth/authorize?client_id=8aed57234e8e37b96dd1"
        >
            <svg class="form__icon">
                <use xlink:href="/images/sprite.svg#icon-github"></use>
            </svg>
            <span>github</span>
        </a>
    </span>
</form>
