<!DOCTYPE html>
<html lang="en">
    <%- include("components/_head.ejs")%>

    <body>
        <div class="headband"></div>
        <div class="container">
            <%- include("components/_sidebar.ejs"); %>
            <div class="content">
                <% articles.forEach((i) => { %>
                <div class="content__block">
                    <article class="content__brief">
                        <%- i.text %>
                    </article>
                    <div class="content__link">
                        <a href="/posts/<%= i._id %>" rel="content">
                            Read >>
                        </a>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
        <footer class="footer">
            <p class="footer__copyright">
                &copy; Copyright 2020 by Yang Jiang. Feel free to use
                <a href="https://github.com/yangjiang3973/yang-blog"
                    >this project</a
                >
                for your own purposes.
            </p>
        </footer>
    </body>
</html>
