<!DOCTYPE html>
<html lang="en">
    <%- include("components/_head.ejs")%>
    <body>
        <div class="container">
            <%- include("components/_sidebar.ejs"); %>
            <div class="search">
                <header>
                    <div id="search-box"></div>
                    <div id="search-stats"></div>
                </header>
                <main>
                    <div id="hits"></div>
                    <div id="pagination"></div>
                </main>
            </div>
        </div>
        <%- include("components/_footer.ejs")%>
    </body>
</html>
