<!DOCTYPE html>
<html lang="en">
    <%- include("components/_head.ejs")%>
    <body>
        <div class="container">
            <%- include("components/_sidebar.ejs"); %>
            <div class="tags">
                <div class="tags__grid">
                    <div id="tag-1" class="tags__item tags__item--1">1</div>
                    <div id="tag-2" class="tags__item tags__item--2">2</div>
                    <div id="tag-3" class="tags__item tags__item--3">3</div>
                    <div id="tag-4" class="tags__item tags__item--4">4</div>
                    <div id="tag-5" class="tags__item tags__item--5">5</div>
                    <div id="tag-6" class="tags__item tags__item--6">6</div>
                    <div id="tag-7" class="tags__item tags__item--7">7</div>
                    <div id="tag-8" class="tags__item tags__item--8">8</div>
                    <div id="tag-9" class="tags__item tags__item--9">9</div>
                    <div id="tag-10" class="tags__item tags__item--10">10</div>
                    <div id="tag-11" class="tags__item tags__item--11">11</div>
                    <div id="tag-12" class="tags__item tags__item--12">12</div>
                    <div id="tag-13" class="tags__item tags__item--13">13</div>
                    <div id="tag-14" class="tags__item tags__item--14">14</div>
                </div>
            </div>
        </div>
        <%- include("components/_footer.ejs")%>
    </body>
</html>
